<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppLicitaciones.Properties.Settings.LicitacionesCSG"
            connectionString="Data Source=APOYO3-LAP\SQLEXPRESS;Initial Catalog=Licitaciones;Persist Security Info=True;User ID=user;Password=licitaciones"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>